/*RESPONSIVE MENU*/
.responsive_btn {
    display: none;
	cursor: pointer;
    text-align: center;
    width: 40px;
	height: 40px;
    position: absolute;
    right: 15px;
    top: -60px;
    margin: 0;
    z-index: 1;
	-moz-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
}
.responsive_btn span {
    display: block;
    height: 1px;
    width: 20px;
    position: relative;
    top: 0;
    margin: 0 auto;
}
.responsive_btn:before{
    position: absolute;
    content: "Menu";
    display: block;
    font-size: 8px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.responsive_btn span:before, .responsive_btn span:after{
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    display: block;
    left: 0;
}
.responsive_btn span:before{top: 6px;}
.responsive_btn span:after{bottom: -12px;}
.responsive_btn span, .responsive_btn span:before, .responsive_btn span:after{background: #fff;}
.responsive_btn:hover span, .responsive_btn:hover span:before, .responsive_btn:hover span:after{background: #ebc436;}

.sidebar-right .sidebar-toggle{
	right: 15px;
	padding: 14px 10px;
}
.sidebar-wrapper.sidebar-default{z-index: 6;}
.sidebar-wrapper.sidebar-default, .sidebar-wrapper .sidebar-menu > li > ul{
    background: #111;
	color: #fff; 
}
.sidebar-wrapper .sidebar-scroller{right: 0;}
.sidebar-wrapper .sidebar-menu li, .sidebar-wrapper .sidebar-menu li ul li{border-top-color: #222;}
.sidebar-wrapper .sidebar-menu li:first-child{border-top: none;}
.sidebar-wrapper .sidebar-menu li a{
	color: #fff;
	text-transform: capitalize;
}
.sidebar-wrapper .sidebar-menu li a:hover, .sidebar-wrapper .sidebar-menu li a:focus, .sidebar-wrapper .sidebar-menu li.active > a, .sidebar-wrapper .sidebar-menu li.current-menu-item > a {
    background-color: #ebc436;
    color: #000;
}
.sidebar-wrapper .sidebar-menu > li > ul{margin: 0 20px 10px;}

.sidebar_overlay{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 6;
	-moz-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
}
.show_cbtn .sidebar_overlay{
	visibility: visible;
	opacity: 1;
}
.subarrow{
	display: none;
	position: absolute;
	right: 10px;
	top: 0;
	width: 40px;
	height: 36px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	-moz-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
}
.sidebar-wrapper .sidebar-menu li > .subarrow.opened{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/*WIDGET*/
/*.widget_block {
	display: none;
	padding: 10px 56px 10px 70px;
	//padding: 10px 50px 10px 0;
	position: relative;
	width: 100%;
	text-align: left;
	margin: 0;
}
.widget_links{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.widget_links a, .widget_links span{
	background-color: #ebc436;
	cursor: pointer;
	display: inline-block;
	height: 35px;
	width: 22%;
	text-align: center;
	color: #fff;
    font-size: 20px;
    line-height: 38px;
    vertical-align: top;
}
.widget_links .fa-envelope {
    font-size: 18px;
    vertical-align: text-top;
}
.widget_links a:hover, .widget_links span:hover, header .widget_links a[href^="mailto:"]:hover {
	background-color: #0f5595;
	color: #fff;
	opacity: 1;
}
.widget_links a.wphone {border-radius: 22px 0 0 22px;}
.widget_links a.wform {border-radius: 0 22px 22px 0;}
.widget_form {
	background: #f3f3f3 none repeat scroll 0 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	display: none;
	position: absolute;
	right: 0;
	left: auto;
	top: 100%;
	z-index: 5;
    min-width: 450px;
}
.widget_form .inner {padding: 15px;}
.widget_form form {margin-bottom: 0;}
.widget_form ul{
	list-style: none;
	padding: 0;
	margin: 0 -10px;
}
.widget_form ul li{
	margin-bottom: 10px;
	padding: 0 10px;
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: none;
}
.widget_form ul li:last-child{margin-bottom: -10px;}
.widget_form ul li.lft, .widget_form ul li.rgt{width: 50%;}
.widget_form input[type="text"], .widget_form input[type="email"], .widget_form textarea {
	box-sizing: border-box;
	height: 36px;
	width: 100%;
	margin-bottom: 0;
	padding: 5px;
}
.widget_form textarea {height: 70px;}
.widget_form .btn_wr{margin-top: 30px;}
.widget_form input[type="submit"], .widget_form input[type="reset"], .widget_form button{
	height: 33px;
	line-height: 30px;
    font-size: 12px;
    min-width: inherit;
}*/


/*1170px*/
@media only screen and (max-width: 1367px) {
    .container{width: 100%;}
    .sliderblock.f24{font-size: 23px;}
}

/*1150px*/
@media only screen and (max-width: 1260px) {
    .logo_cultralocal{left: -10px;}
    .hright .signup_form_wrap{margin: 0 15px 0 0;}
    .signup_form_wrap .subheading{padding: 0 0 0 30px;}
    .topmenu ul > li{margin: 0 0 0 15px;}
    .topmenu ul li a{padding-left: 35px;}
    .abtBg br, .abtSection br, .store_body br, .heading_tag br, .sliderblock p br, .quoteSmall br{display: none;}
    .abtText, .abtSection.odd .abtText{padding: 50px 0;}
    .newsletter .subheading{font-size: 30px; line-height: 30px;}
    .seller_block{padding: 0;}
    .feature_aspect_wrap{padding: 30px 0;}
    .feature_aspect_list{margin-bottom: -35px;}
    .feature_aspect_list > li{margin-bottom: 35px;}
    .feature_aspect_box{min-height: 122px;}
    html * .ls-container img, body * .ls-container img, #ls-global * .ls-container img{max-width: 100% !important; max-height: 100% !important;}
    /*.ls-s2 img{-webkit-transform: scale(0.8); transform: scale(0.8); margin: -25px -65px;}
    .ls-s3 img{-webkit-transform: scale(0.8); transform: scale(0.8); margin: -25px -55px;}
    .ls-s4 img{-webkit-transform: scale(0.8); transform: scale(0.8); margin: -15px -25px;}
    .ls-s5 .culture_text{-webkit-transform: scale(0.7); transform: scale(0.7); margin: 0 -65px;}
    .homeBanner .culture_title{font-size: 30px;}
    .homeBanner .culture_info{letter-spacing: 10px;}*/
}

/*992px*/
@media only screen and (max-width: 1150px) {
    .innerContainer{width: 100%;}
    .culture_icon{width: 55px; height: 57px; margin: -28px 0 0;}
    .review_form .sliderblock .heading{padding-left: 115px;}
    .review_form .sliderblock .heading img{left: 0;}
    .fnav{font-size: 18px;}
    .fnav li{padding: 0 10px;}
    .owl-carousel{padding: 0 50px;}
    .smallImg.sliderblockWrap .sliderImg2 .owl-carousel, .padding_banner.owl-carousel, .sliderblock .sliderImgText .owl-carousel{padding: 0;}
    .owl-theme .owl-controls .owl-buttons div.owl-prev, .owl-carousel .owl-nav .owl-prev{left: 0;}
    .owl-theme .owl-controls .owl-buttons div.owl-next, .owl-carousel .owl-nav .owl-next{right: 0;}
    .smallImg .sliderblock .owl-theme .owl-controls .owl-buttons div.owl-prev, .smallImg .sliderblock .owl-carousel .owl-nav .owl-prev, .padding_banner .owl-controls .owl-buttons div.owl-prev, .padding_banner.owl-carousel .owl-nav .owl-prev, .padding_banner:hover .owl-controls .owl-buttons div.owl-prev, .padding_banner.owl-carousel:hover .owl-nav .owl-prev{left: 0;}
    .smallImg .sliderblock .owl-theme .owl-controls .owl-buttons div.owl-next, .smallImg .sliderblock .owl-carousel .owl-nav .owl-next, .padding_banner .owl-controls .owl-buttons div.owl-next, .padding_banner.owl-carousel .owl-nav .owl-next, .padding_banner:hover .owl-controls .owl-buttons div.owl-next, .padding_banner.owl-carousel:hover .owl-nav .owl-next{right: 0;}
    .teamList:after{margin: 0 20px 0 0;}
    .teamList:before{margin: 0 0 0 20px;}
    .sliderblockWrap .popular_store_img.hfull, .sliderblockWrap .popular_store_text.hfull{height: auto !important;}
    .store_icon{width: 100px; height: 100px; margin-bottom: 20px;}
    .store_head{padding: 0 0 0 120px;}
    .sliderblockWrap .sliderblock:nth-child(even) .sliderText2 .store_head{padding: 0 120px 0 0;}
    .sliderblock.f24 .heading{font-size: 30px; line-height: 36px;}
    .sliderblock.f24{font-size: 20px; line-height: 30px;}
    .imgEffect.square_block img, .genre_img img{width: 100%; height: auto;}
    .maintab .sliderImg{width: 470px; height: 471px;}
    .maintab .sliderText{margin: 0 0 0 480px; padding: 0 0 0 30px;}
    .maintab .sliderblock .subheading2{min-height: 64px;}
    .review_form .sliderblock .heading{font-size: 45px; line-height: 55px;}
    .subheading2{font-size: 20px; line-height: 28px;}
    .coreFour > .ul{margin-bottom: -40px;}
    .coreFour > .ul > li{margin-bottom: 40px;}
    .coreFour .subheading{padding: 20px 0 0;}
    .cmntyText, .odd.communityList .communityBox:nth-child(even) .cmntyText, .communityBox:nth-child(even) .cmntyText, .odd.communityList .communityBox .cmntyText{padding-top: 0;}
    .communityBox .heading{font-size: 40px; line-height: 50px;}
    .newsletter .subheading{font-size: 28px; line-height: 35px;}
    .seller_banner .seller_banner_text{width: 100%;}
    .cultrahub_helpandcontract br{display: none;}
    .seller_fees .heading2{font-size: 62px; line-height: 65px;}
    .sliderblockWrap.odd .doubleImg .img1{width: 405px; height: 455px; margin: 0 60px 0 0;}
    .sliderblockWrap.odd .sliderblock:nth-child(even) .doubleImg .img1{margin: 0 0 0 60px;}
    .heading2.medium {font-size: 44px; line-height: 60px;}
    .brand_logo.more_brand a{font-size: 14px; line-height: 18px;}
    .bio_img{margin: 0 30px 0 0;}
    .bio_text{margin: 0; padding: 0;}
    .bio_title, .bio_title.small, .bio_small{margin-left: 50%; padding-left: 30px;}
    .genre_icon_list a, .genre_icon_list .gicon{width: 100%; height: auto; padding-top: 100%;}
    .genre_icon_list a img, .genre_icon_list .gicon img{max-width: 70%; max-height: 70%;}
}

/*768px*/
@media only screen and (max-width: 991px) {
    .homeBannerHeading{font-size: 30px; line-height: 40px;}
    .homeBannerHeading span{font-size: inherit;}
    .maintab .sliderImg{float: none; margin: 0 auto;}
    .maintab .sliderText{margin: -40px 0 0; padding: 0; text-align: center;}
    .maintab .sliderblock .subheading2{min-height: inherit; margin-bottom: 20px;}
    .maintab .sliderIcon{margin: 0 auto;}
    .maintab .sliderblockWrap.odd .sliderblock .btn{float: none;}
    .seller_section .sliderblockWrap.odd .sliderImg2{width: 100%; opacity: 0.2;}
    .seller_section .sliderImgBox{right: 0;}
    .sliderblockWrap.odd.rev .sliderText2{width: 100%; padding: 0 !important; text-align: left;}
    .sliderblockWrap.odd.rev .heading:before{left: 0; right: auto;}
    .smallImg.sliderblockWrap .sliderImg2, .smallImg.sliderblockWrap .sliderblock:nth-child(even) .sliderImg2, .sliderblockWrap.odd .sliderImg2, .sliderblockWrap.odd .sliderblock:nth-child(even) .sliderImg2{width: 450px; padding: 0; margin: 0 auto 20px; float: none;}
    .smallImg.sliderblockWrap .sliderText2, .smallImg.sliderblockWrap .sliderblock:nth-child(even) .sliderText2{width: 100%; float: none; padding: 0; text-align: left;}
    .sliderblockWrap.odd.rev .sliderText2 .bullet > li{padding: 3px 0 0 35px;}
    .sliderblockWrap.odd.rev .sliderText2 .bullet > li:before{left: 0; right: auto;}
    .logo_cultralocal{top: -90px;}
    .mobSliderWrap .hfull{height: auto !important;}
    .review_form .sliderblockWrap .sliderText2, .review_form .sliderblockWrap.odd .sliderImg2{width: 100%; float: none; padding: 0;}
    .review_form .sliderblockWrap.odd .sliderImg2{margin: 20px 0 0;}
    .review_form .sliderblockWrap.odd.rev .sliderText2{text-align: left;}
    .review_form .sliderblockWrap.odd.rev .sliderblock .heading:before{left: 115px;}
    .seller_tool_wrap.w75, .shop_icon_list{width: 100%;}
    .learnBox{padding: 0; min-height: 495px;}
    .seller_fees .heading2{font-size: 50px; line-height: 60px;}
    .shopImg{margin: 0 0 0 30px;}
    .shopBlock:nth-child(even) .shopImg{margin: 0 30px 0 0;}
    .shopText, .shopBlock:nth-child(even) .shopText{margin: 0; padding: 0;}
    .heading br, .teamList:before, .teamList:after{display: none;}
    .teamList .teamImg{width: 100%; position: relative;}
    .teamList .teamImg:before {position: absolute; content: ""; display: block; top: 50px; bottom: 50px; left: -15px; width: 1px; background: #cbcdce; }
    .abtImg{width: 680px;}
    .abtText, .abtSection.odd .abtText{width: 100%; padding: 50px 0 0;}
    .coreFourImg{width: 250px; top: 60px;}
    .coreFour .aboutIconBox{padding: 0 100px 0 0; font-size: 18px; line-height: 30px;}
    .coreFour > .ul > li:nth-child(even) .aboutIconBox{padding: 0 0 0 100px;}
    .coreFour .aiIcon{margin: 0 15px;}
    .coreFour .subheading{padding: 20px 0 0; font-size: 20px; line-height: 30px;}
    .communityBlock .col50{width: 100%;}
    .communityImg{text-align: center; margin: 0 auto 20px;}
    .communityImg img{width: auto; display: inline-block;}
    .cmntyIcon{width: 260px; padding: 30px;}
    .communityBox .cmntyIcon, .odd.communityList .communityBox:nth-child(even) .cmntyIcon, .communityBox:nth-child(even) .cmntyIcon, .odd.communityList .communityBox .cmntyIcon{border: none;}
    .cmntyText, .odd.communityList .communityBox:nth-child(even) .cmntyText{width: auto; float: none; margin: 0 260px 0 0; padding: 0 30px 0 0; border-right: 10px solid #ebebeb; border-left: none;}
    .communityBox:nth-child(even) .cmntyText, .odd.communityList .communityBox .cmntyText{float: none; margin: 0 0 0 260px; padding: 0 0 0 30px; border-right: none; border-left: 10px solid #ebebeb;}
    .sliderblockWrap.odd .contact_form_block .sliderImg2{width: 100%; margin: 20px 0 0; padding: 0;}
    .jobList.ul > li.col25{width: 50%;}
    .jobBox{min-height: 235px;}
    .jobList > li:nth-child(even) .jobBox:before{display: none;}
    .store_icon{width: 85px; height: 85px;}
    .store_head{padding: 0 0 0 100px;}
    .sliderblockWrap .sliderblock:nth-child(even) .sliderText2 .store_head{padding: 0 100px 0 0;}
    .sliderblock.f24 .heading {font-size: 25px; line-height: 30px;}
    .store_genre, .sliderblockWrap .sliderblock:nth-child(even) .sliderText2 .store_genre{padding: 10px 0 0 0;}
    .store_genre img{margin: 0 10px 0 0;}
    .sliderblockWrap .sliderblock:nth-child(even) .sliderText2 .store_genre img{margin: 0 0 0 10px;}
    .sliderblockWrap .popular_store_block .sliderText2.ptb50, .sliderblockWrap.odd .popular_store_block.sliderblock:nth-child(even) .sliderText2.ptb50{padding: 0 0 0 15px;}
    .sliderblockWrap .popular_store_block.sliderblock:nth-child(even) .sliderText2.ptb50, .sliderblockWrap.odd .popular_store_block .sliderText2.ptb50{padding: 0 15px 0 0;}
    .culture_banner_wrap{width: 100%;}
    .culture_desp{width: 100%; padding: 30px 0 0;}
    .bio_img{max-width: 50%;}
    .extra_pro_list .ul > li.col20{width: 33.33%;}
    .besellerblocks .sliderblockWrap .sliderImg2, .besellerblocks .sliderblockWrap .sliderblock:nth-child(even) .sliderImg2{width: 545px; margin: 0 auto 20px; padding: 0; float: none;}
    .besellerblocks .sliderblockWrap .sliderText2, .besellerblocks .sliderblockWrap .sliderblock:nth-child(even) .sliderText2{width: 100%; padding: 0; float: none; text-align: left;}
    .besellerblocks .sliderblockWrap .sliderText2 .heading:before, .besellerblocks .sliderblockWrap .sliderblock:nth-child(even) .sliderText2 .heading:before{left: 0; right: auto;}
    .exclusive_product .ul{margin: 0 -10px -20px;}
    .exclusive_product .ul li{padding: 0 10px; margin-bottom: 20px;}
    .trendinblocks .sliderblockWrap.odd .sliderImg2, .shareqtblock .sliderblockWrap.odd .sliderImg2{float: right; width: 50%; padding: 0 0 0 15px;}
    .trendinblocks .sliderblockWrap.odd .sliderblock:nth-child(even) .sliderImg2, .shareqtblock .sliderblockWrap.odd .sliderblock:nth-child(even) .sliderImg2{float: left; width: 50%; padding: 0 15px 0 0;}
    .trendinblocks .sliderblockWrap.odd .sliderText2.ptb50, .shareqtblock .sliderblockWrap.odd .sliderText2.ptb50{width: 50%; padding: 50px 15px 50px 0 !important; text-align: right;}
    .trendinblocks .sliderblockWrap .sliderblock:nth-child(even) .sliderText2.ptb50, .shareqtblock .sliderblockWrap .sliderblock:nth-child(even) .sliderText2.ptb50{padding: 50px 0 50px 15px !important; text-align: left;}
    
    .sliderblockWrap .sliderImg2.threeImg .img1, .sliderblockWrap .sliderImg2.threeImg .img2, .sliderblockWrap.odd .doubleImg .img1, .sliderblockWrap.odd .doubleImg .img2{width: 100%; height: auto; padding-top: 100%; position: relative; overflow: hidden;}
    .sliderblockWrap .sliderImg2.threeImg .img2, .sliderblockWrap.odd .doubleImg .img2{width: 60%; padding-top: 80%; position: absolute; right: 0;}
    .fullContainerText.sliderblockWrap .sliderblock:nth-child(even) .sliderImg2.threeImg .img2{left: 0; right: auto;}
    .sliderblockWrap.odd .doubleImg .img1{padding-top: 112%; margin: 0;}
    .sliderblockWrap.odd .sliderblock:nth-child(even) .doubleImg .img1{margin: 0;}
    .sliderblockWrap.odd .doubleImg .img2{padding-top: 65%;}
    .sliderblockWrap .sliderImg2.threeImg .img1 img, .sliderblockWrap .sliderImg2.threeImg .img2 img, .sliderblockWrap.odd .doubleImg .img1 img, .sliderblockWrap.odd .doubleImg .img2 img{position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
    
    .isotop_wrap{margin: 0;}
    .isotope_block{padding: 10px;}
    .feature_aspect_img{position: relative; left: 0; -webkit-transform: none; transform: none; margin: 0 auto 30px;}
    .feature_aspect_list > li{width: 50%;}
    .feature_aspect_list > li:nth-child(even){margin-left: 0;}
    .quote_list .ul{margin-left: -15px; margin-right: -15px;}
    .quote_list .ul > li{padding-left: 15px; padding-right: 15px;}
    .quote_block:before{right: -15px;}
}

/*600px*/
@media only screen and (max-width: 767px) {
    .allCultureText{bottom: 0;}
    .sliderblockWrap .sliderImg2, .sliderblockWrap.odd .sliderImg2, .sliderblockWrap .sliderText2, .sliderblockWrap.odd .sliderText2, .seller_fees_head{width: 100%; float: none; padding: 0; max-width: 100%; text-align: left;}
    .sliderblockWrap .sliderImg2, .sliderblockWrap.odd .sliderImg2, .learnImg{margin: 0 auto 20px; text-align: center;}
    .sliderblockWrap .sliderImg2 form, .sliderblockWrap.odd .sliderImg2 form{text-align: left;}
    .learnImg{width: 470px;}
    .learnList > .ul > li{width: 100%;}
    .learnBox, .learnText{min-height: inherit;}
    .seller_tool_wrap .ul > li, .seller_howitwork .ul > li{width: 100%;}
    .seller_block{position: relative;}
    .seller_block:after{content: ""; display: block; clear: both;}
    .seller_icon:before, .withdot .seller_text:before, .seller_block .subheading2 br{display: none;}
    .seller_tool_wrap .seller_icon, .seller_howitwork .seller_icon{float: left; margin: 0; height: auto; line-height: normal; min-height: 70px;}
    .seller_tool_wrap .seller_text, .seller_howitwork .seller_text{position: absolute; left: 0; right: 0; top: 50%; -webkit-transform: translate(0,-50%); transform: translate(0,-50%); margin: 0 0 0 140px; padding: 0; text-align: left;}
    .seller_tool_wrap .ul > li:nth-child(even) .seller_icon, .seller_howitwork .ul > li:nth-child(even) .seller_icon{float: right;}
    .seller_tool_wrap .ul > li:nth-child(even) .seller_text, .seller_howitwork .ul > li:nth-child(even) .seller_text{margin: 0 140px 0 0; text-align: right;}
    .seller_fees_text{margin: 0; padding: 0; border: none;}
    .shopImg, .shopBlock:nth-child(even) .shopImg{float: none; margin: 0 auto 20px; max-width: 100%;}
    .shopText, .shopBlock:nth-child(even) .shopText{text-align: left;}
    .quote{font-size: 20px; line-height: 30px; padding: 0 40px; line-height: 40px;}
    .quote:before, .quote:after{width: 30px; height: 26px; top: 10px;}
    .abtImg, .abtSection.odd .abtImg{max-width: 100%; padding: 50px 0;}
    .coreFourImg img{opacity: 0.1;}
    .coreFour .aboutIconBox, .coreFour > .ul > li:nth-child(even) .aboutIconBox{padding: 0;}
    .coreFourImg img.coreFourArrow{display: none;}
    .jobLeft, .jobRight{float: none; width: 100%; padding: 0;}
    .communityBox .cmntyIcon, .odd.communityList .communityBox:nth-child(even) .cmntyIcon, .communityBox:nth-child(even) .cmntyIcon, .odd.communityList .communityBox .cmntyIcon{float: none; padding: 0; margin: 0 auto 20px;}
    .cmntyText, .odd.communityList .communityBox:nth-child(even) .cmntyText, .communityBox:nth-child(even) .cmntyText, .odd.communityList .communityBox .cmntyText{margin: 0; padding: 0; border: none; text-align: left;}
    .contact_form{text-align: left;}
    .social_block{padding: 60px 20px;}
    .contactIconList > li{width: 100%;}
    .contactIconList .iconBlock:before, .contactIconList .iconBlock:after{display: none;}
    .contactIconList .contact_info{min-height: inherit;}
    .contactIconList .iconImg{padding: 0; height: auto;}
    .heading_icon{margin: 0 auto 10px; }
    
    .opened.modal{padding-right: 0 !important;}
    .modalBox{max-width: 90%; padding: 30px;}
    .heading2{margin-right: 0;}
    .heading2 img{max-width: 100%;}
    .genre_icon_list > li{width: 12.5%;}
}

/*480px*/
@media only screen and (max-width: 599px) {
    .homeForm{max-width: 100%; padding-right: 170px; position: relative;}
    .homeForm input[type="text"], .homeForm input[type="email"]{width: 100%;}
    .homeForm [type="submit"]{width: 170px; position: absolute; top: 0; right: 0;}
    input[type="submit"], input[type="reset"], button{padding: 0 15px;}
}

/*358px*/
@media only screen and (max-width: 479px) {
    
}

/*320px*/
@media only screen and (max-width: 357px) {
    
}