/*RESPONSIVE MENU*/
.responsive_btn {
    display: none;
	cursor: pointer;
    text-align: center;
    width: 40px;
	height: 40px;
    position: absolute;
    right: 15px;
    top: -60px;
    margin: 0;
    z-index: 1;
	-moz-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
}
.responsive_btn span {
    display: block;
    height: 1px;
    width: 20px;
    position: relative;
    top: 0;
    margin: 0 auto;
}
.responsive_btn:before{
    position: absolute;
    content: "Menu";
    display: block;
    font-size: 8px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.responsive_btn span:before, .responsive_btn span:after{
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    display: block;
    left: 0;
}
.responsive_btn span:before{top: 6px;}
.responsive_btn span:after{bottom: -12px;}
.responsive_btn span, .responsive_btn span:before, .responsive_btn span:after{background: #fff;}
.responsive_btn:hover span, .responsive_btn:hover span:before, .responsive_btn:hover span:after{background: #ebc436;}

.sidebar-right .sidebar-toggle{
	right: 15px;
	padding: 14px 10px;
}
.sidebar-wrapper.sidebar-default{z-index: 6;}
.sidebar-wrapper.sidebar-default, .sidebar-wrapper .sidebar-menu > li > ul{
    background: #111;
	color: #fff;
}
.sidebar-wrapper .sidebar-scroller{right: 0;}
.sidebar-wrapper .sidebar-menu li, .sidebar-wrapper .sidebar-menu li ul li{border-top-color: #222;}
.sidebar-wrapper .sidebar-menu li:first-child{border-top: none;}
.sidebar-wrapper .sidebar-menu li a{
	color: #fff;
	text-transform: capitalize;
}
.sidebar-wrapper .sidebar-menu li a:hover, .sidebar-wrapper .sidebar-menu li a:focus, .sidebar-wrapper .sidebar-menu li.active > a, .sidebar-wrapper .sidebar-menu li.current-menu-item > a {
    background-color: #ebc436;
    color: #000;
}
.sidebar-wrapper .sidebar-menu > li > ul{margin: 0 20px 10px;}

.sidebar_overlay{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 6;
	-moz-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
}
.show_cbtn .sidebar_overlay{
	visibility: visible;
	opacity: 1;
}
.subarrow{
	display: none;
	position: absolute;
	right: 10px;
	top: 0;
	width: 40px;
	height: 36px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	-moz-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
}
.sidebar-wrapper .sidebar-menu li > .subarrow.opened{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/*WIDGET*/
/*.widget_block {
	display: none;
	padding: 10px 56px 10px 70px;
	//padding: 10px 50px 10px 0;
	position: relative;
	width: 100%;
	text-align: left;
	margin: 0;
}
.widget_links{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.widget_links a, .widget_links span{
	background-color: #ebc436;
	cursor: pointer;
	display: inline-block;
	height: 35px;
	width: 22%;
	text-align: center;
	color: #fff;
    font-size: 20px;
    line-height: 38px;
    vertical-align: top;
}
.widget_links .fa-envelope {
    font-size: 18px;
    vertical-align: text-top;
}
.widget_links a:hover, .widget_links span:hover, header .widget_links a[href^="mailto:"]:hover {
	background-color: #0f5595;
	color: #fff;
	opacity: 1;
}
.widget_links a.wphone {border-radius: 22px 0 0 22px;}
.widget_links a.wform {border-radius: 0 22px 22px 0;}
.widget_form {
	background: #f3f3f3 none repeat scroll 0 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	display: none;
	position: absolute;
	right: 0;
	left: auto;
	top: 100%;
	z-index: 5;
    min-width: 450px;
}
.widget_form .inner {padding: 15px;}
.widget_form form {margin-bottom: 0;}
.widget_form ul{
	list-style: none;
	padding: 0;
	margin: 0 -10px;
}
.widget_form ul li{
	margin-bottom: 10px;
	padding: 0 10px;
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: none;
}
.widget_form ul li:last-child{margin-bottom: -10px;}
.widget_form ul li.lft, .widget_form ul li.rgt{width: 50%;}
.widget_form input[type="text"], .widget_form input[type="email"], .widget_form textarea {
	box-sizing: border-box;
	height: 36px;
	width: 100%;
	margin-bottom: 0;
	padding: 5px;
}
.widget_form textarea {height: 70px;}
.widget_form .btn_wr{margin-top: 30px;}
.widget_form input[type="submit"], .widget_form input[type="reset"], .widget_form button{
	height: 33px;
	line-height: 30px;
    font-size: 12px;
    min-width: inherit;
}*/


/*1170px*/
@media only screen and (max-width: 1367px) {
    .container{width: 100%;}
}

/*992px*/
@media only screen and (max-width: 1260px) {
    
}

/*768px*/
@media only screen and (max-width: 991px) {
    
}

/*600px*/
@media only screen and (max-width: 767px) {
	.container{width: 100%;}
    
}

/*480px*/
@media only screen and (max-width: 599px) {
    
}

/*358px*/
@media only screen and (max-width: 479px) {
    
}

/*320px*/
@media only screen and (max-width: 357px) {
    
}